.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    font-size: 24px;
  }
  &__header {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-left: 15px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      padding-left: 15px;
    }
  }
  &__word {
    color: var(--logo-color-dark);
  }
  &--dark {
    color: var(--logo-color);
  }
  &__word-secondary {
    color: var(--color-light);
  }
}
