:root {
  --color-active: #2196f3;
  --logo-color: #2196f3;
  --logo-color-dark: #000000;
  --color-dark: #212121;
  --color-light: #ffffff;
  --color-light-secondary: #757575;
  --background-color-light: #f5f4fa;
  --background-color-dark: #2f303a;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --font-primary: "Roboto", sans serif;
  --font-secondary: "Raleway";
}
